{% set first = loop.index == 1 %}
{% set even = loop.index % 2 == 0 %}
{% set odd = loop.index % 2 != 0 %}

{% set words = item.summary|wordcount %}

<div class="c-billboard{{ ' c-billboard--flip@md' if odd }} / u-bg-concrete">
  <div class="c-story{{ ' / u-border-secondary' if first }}">
    {% if item.tagline %}
      <div class="c-story__tagline">
        {{ item.tagline }}
      </div>
    {% endif %}

    <h3 class="c-story__title / u-border-dashed">
      {{ item.title }}
    </h3>

    <div class="c-story__excerpt / s-rich-text{{ ' s-rich-text--long' if words > 80 }}">
      {{ item.summary|markdown|safe }}
    </div>

    {% if item.more %}
      <a
        href="{{ item.more.url }}"
        class="c-more"
        {% if item.more.alt %} aria-label="{{ item.more.alt|format(item.title) }}"{% endif %}
      >
        {{ item.more.label }}
      </a>
    {% endif %}
  </div>

  <div class="c-poster{{ ' / u-border-primary' if first }}">
    <img
      class="c-poster__image / u-object-cover"
      src="{{ item.image.url|default(image)|default('/assets/media/adobestock-99649200.jpg') }}"
      alt="{{ item.image.alt }}"
    >
  </div>
</div>
