{% set coverUrl = cover.url|default(cover) %}
{% set coverTitle = cover.title|default("") %}
{% set coverAlt = cover.alt|default("") %}

<div class="c-cover{{ ' c-cover--compact' if not coverTitle }}">
  <div class="c-cover__media">
    {%
      image coverUrl,
        alt=coverAlt,
        preset="cover",
        loading="lazy",
        classes=["c-cover__media-image", "u-object-cover"]
    %}
  </div>
  {% if coverTitle %}
    <div class="c-cover__content / u-bg-concrete / u-effect-kink">
      <h1 class="c-cover__title / p-name">
        {{ coverTitle }}
      </h1>
    </div>
  {% endif %}
</div>
