<article class="c-box / h-card">
  {%
    image employee.data.photo,
      alt="",
      preset="employee",
      loading="lazy",
      classes=["u-photo", "u-gap-below", "u-full-width", "u-image-3:2"]
  %}

  <h3>
    <a href="mailto:{{ employee.data.email|obfuscate|safe }}" class="p-name / u-email">
      {{ employee.data.title|obfuscate|safe }}
    </a>
  </h3>

  {% if employee.data.role %}
    <div class="p-role">
      {{ employee.data.role }}
    </div>
  {% endif %}
</article>
