<footer class="o-landmark o-landmark--footer / c-footer" role="contentinfo">
  <div class="c-footer__inner / o-container">
    <div class="c-footer__item / p-author h-card">
      {% include "organization-name.njk" %}
      {% include "organization-address.njk" %}
    </div>

    <div class="c-footer__item">
      {% include "navigation-social.njk" %}
    </div>

    <div class="c-footer__item">
      {% include "navigation-legal.njk" %}
    </div>
  </div>
</footer>
