<address class="p-adr h-adr">
  <span class="p-street-address">
    {{ organization.address.streetAddress }}
  </span>
  <br>
  <span class="p-postal-code">
    {{ organization.address.postalCode }}
  </span>
  <span class="p-locality">
    {{ organization.address.locality }}
  </span>
  <span role="separator">
    ,
  </span>
  <span class="p-country-name">
    {{ organization.address.addressCountry }}
  </span>
</address>
