{% set services = sections[lang].services|default([]) %}

{% macro billboard(item, index=1) %}
  {% set odd = (index % 2 != 0) %}
  {% set even = (index % 2 == 0) %}

  <article class="c-billboard{{ ' c-billboard--flip@md' if even }} / u-bg-concrete">
    <div class="c-summary">
      <h3 class="c-summary__title / u-divide-y">
        {{ item.title }}
      </h3>

      <div class="s-rich-text">
        <p>
          {{ item.summary|striptags|escape|nl2br|safe }}
        </p>
      </div>

      {% if item.more %}
        <a
          href="{{ item.more.url }}"
          class="c-more"
          {% if item.more.alt %} aria-label="{{ item.more.alt|format(item.title) }}"{% endif %}
        >
          {{ item.more.label }}
        </a>
      {% endif %}
    </div>

    {% if item.image %}
      <div class="c-poster">
        <img
          class="c-poster__image / u-object-cover"
          src="{{ item.image.url|default(image) }}"
          alt="{{ item.image.alt }}"
        >
      </div>
    {% endif %}
  </article>
{% endmacro %}

{% if services|length %}
  <section class="c-section c-section--services">
    <h2 class="c-section__title">
      {{ "Merchandise presentation"|trans }}
    </h2>

    {% for item in services %}
      {{ billboard(item, loop.index) }}
    {% endfor %}
  </section>
{% endif %}
