{% set employees = employees|default(collections.employee|default([])) %}
{% set modifier = cycler("u-bg-merino", "u-bg-light") %}

{% if employees|length %}
  {% for key, items in employees|groupby("data.group")|dictsort %}
    {% set employee = items|first %}

    <div class="c-section c-section--team / {{ modifier.next() }}">
      <h2 class="c-section__title / u-sr-only">
        {{ employee.data.groupName }}
      </h2>

      <div class="o-container / o-grid o-grid--columns-3">
        {% for employee in items|sort_by("data.lastname") %}
          {% include "employee.njk" %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endif %}
