{% set services = sections[lang].services|default([]) %}

{% if services|length %}
  <section class="c-section c-section--services">
    <h2 class="c-section__title">
      {{ "Merchandise presentation"|trans }}
    </h2>

    {% for item in services %}
      {% include "billboard.njk" %}
    {% endfor %}
  </section>
{% endif %}
