{% set section = sections[lang].contact %}

{% if section %}
  <section class="c-billboard c-billboard--flip@md / u-bg-concrete">
    <div class="c-story">
      <div class="c-story__tagline">
        {{ section.tagline }}
      </div>

      <h2 class="c-story__title / u-border-dashed">
        {{ section.title }}
      </h2>

      <div class="c-story__excerpt / s-rich-text">
        {{ section.summary|markdown|safe }}
      </div>

      <ul class="o-list-inline">
        <li>
          <a href="mailto:{{ organization.email|obfuscate|safe }}" class="c-more">
            {{ organization.email|obfuscate|safe }}
          </a>
        </li>
        <li>
          <a href="tel:{{ organization.telephone|tel }}" class="c-more">
            {{ organization.telephone }}
          </a>
        </li>
      </ul>
    </div>

    <div class="c-poster">
      <img
        class="c-poster__image / u-object-cover"
        src="/assets/media/placeholder-04.jpg"
        alt=""
      >
    </div>
  </section>
{% endif %}
