{% set posts = posts|default(collections.post|default([])|tagged_with(lang)|reverse)|take(4) %}

{% if posts|length %}
  <section class="c-section__content / o-container / h-feed">
    <h3 class="c-section__heading / p-name">
      {{ "Latest News"|trans }}
    </h3>

    <div class="o-grid o-grid--columns-4">
      {% for post in posts %}
        <article class="c-post / h-entry" data-component="card">
          <h4 class="c-post__title / p-name">
            {{ post.data.title }}
          </h4>

          <p class="c-post__excerpt / p-summary">
            {{ post.templateContent|striptags|truncate(64) }}
          </p>

          <a
            href="{{ post.url|url }}"
            class="c-post__more / c-more / u-url"
            aria-label="{{ 'Read more about “:title”'|trans({title: post.data.title}) }}"
          >
            {{ "Read more"|trans }}
          </a>

          <div class="c-post__thumbnail">
            <img
              class="c-post__thumbnail-image / u-object-cover"
              src="{{ post.data.cover.url|default(post.data.cover)|default('/assets/media/post-thumbnail.jpg') }}"
              alt="{{ post.data.cover.alt }}"
            >
          </div>
        </article>
      {% endfor %}
    </div>
  </section>
{% endif %}
