<section class="c-billboard c-billboard--flip@md / u-bg-concrete">
  <div class="c-story">
    <h2 class="c-story__title / u-border-dashed">
      {{ "Our Address"|trans }}
    </h2>

    {% include "organization.njk" %}
  </div>

  <div class="c-poster">
    {%
      image "/assets/media/placeholder-04.jpg",
        alt="",
        preset="billboard",
        loading="lazy",
        classes=["c-poster__image", "u-object-cover"]
    %}
  </div>
</section>
