<section class="c-carousel" aria-roledescription="{{ 'Image Slideshow'|trans }}" aria-labelledby="carousel-label">
  <h2 id="carousel-label" class="c-carousel__title" hidden>
    {{ "Image Slideshow"|trans }}
  </h2>

  <div class="c-carousel__inner / swiper" data-component="carousel">
    {% block navigation %}
      <button type="button" class="c-carousel__pause-button / swiper-button-pause" aria-controls="carousel">
        <span class="u-sr-only">
            {{ "Toggle automatic slide rotation"|trans }}
        </span>
        {% icon "pause", class=["swiper-icon-pause"] %}
        {% icon "play", class=["swiper-icon-play"] %}
      </button>

      <button type="button" class="c-carousel__prev-button / swiper-button-prev" aria-controls="carousel">
        <span class="u-sr-only">
            {{ "Previous Slide"|trans }}
        </span>
      </button>

      <button type="button" class="c-carousel__next-button / swiper-button-next" aria-controls="carousel">
        <span class="u-sr-only">
            {{ "Next Slide"|trans }}
        </span>
      </button>
    {% endblock %}

    {% block items %}
      <div id="carousel" class="c-carousel__items / swiper-wrapper">
        {% for item in slideshow %}
          {% block item %}
            <div
              class="c-carousel__item / c-cover / swiper-slide"
              aria-roledescription="{{ 'Slide'|trans }}"
              aria-label="{{ ':x of :total: :title'|trans({x: loop.index, total: loop.length, title: item.title}) }}"
              aria-current="{{ 'true' if loop.first else 'false' }}"
              aria-posinset="{{ loop.index }}"
              aria-setsize="{{ loop.length }}"
            >
              <div class="c-cover__media">
                {%
                  image item.url,
                    alt=item.alt,
                    preset="cover",
                    loading="lazy",
                    classes=["c-cover__media-image", "u-object-cover"]
                %}
              </div>
            </div>
          {% endblock %}
        {% endfor %}
      </div>
    {% endblock %}

    {% block pagination %}
      <div class="c-carousel__pagination / swiper-pagination"></div>
    {% endblock %}
  </div>
</section>
