/* -----------------------------------------------------------------------
 * #COMPONENTS:FOOTER
 * ----------------------------------------------------------------------- */

/**
 * Footer
 *
 * Information repeated at the end of each page.
 *
 * @example markup
 *   <footer class="c-footer">
 *     <div class="c-footer__inner">
 *       <div class="c-footer__item">
 *         <h3 class="c-footer__item-label">
 *           Our Social Media Channels
 *         </h3>
 *         …
 *       </div>
 *       <div class="c-footer__item">
 *         <h3 class="c-footer__item-label">
 *           Legal Information
 *         </h3>
 *         …
 *       </div>
 *     </div>
 *   </footer>
 */

.c-footer {
  --footer-text-color: var(--color-text);
  --footer-background-color: var(--color-light);
  --footer-column-threshold: 37rem;
  --footer-column-gutter: var(--size-2);

  padding-top: var(--size-16);
  padding-bottom: var(--size-16);
  color: var(--footer-text-color);
  background-color: var(--footer-background-color);
}

.c-footer__inner {
  display: flex;
  flex-wrap: wrap;
  gap: var(--footer-column-gutter);
}

.c-footer__item {
  border-left: 1px dashed var(--color-divider);
  padding: var(--size-1) var(--size-2);
  border-image-source: url("../images/border-dashed.svg");
  border-image-slice: 20;
  border-image-width: 0 0 0 20px;
  border-image-repeat: repeat;

  flex-basis: calc((var(--footer-column-threshold) - 100%) * 999);
  flex-grow: 1;
}
