/* -----------------------------------------------------------------------
 * #COMPONENTS:BOX
 * ----------------------------------------------------------------------- */

/**
 * Box
 *
 * @todo Add description
 *
 * @example markup
 *   <div class="c-box">
 *     <h3>…</h3>
 *     <p>…</p>
 *   </div>
 */

.c-box {
  display: flex;
  flex-direction: column;
  padding: var(--size-4);
  color: var(--color-text);
  background-color: var(--color-light);
}

.c-box__title {
  margin-bottom: var(--size-2);
  font-size: var(--fluid-sm);
  line-height: var(--leading-snug);
  font-weight: var(--font-semibold);
}
