/* -----------------------------------------------------------------------
 * #COMPONENTS:STORY
 * ----------------------------------------------------------------------- */

/**
 * Story
 *
 * A generic piece of content.
 *
 * @example markup
 *   <article class="c-story">
 *     <h3 class="c-story__title">
 *       Present professionally - profit safely.
 *     </h3>
 *     <div class="s-rich-text">
 *       <p>…</p>
 *     </div>
 *   </article>
 */

.c-story {
  --story-content-width: calc(var(--measure-normal) - var(--story-content-inset));
  --story-content-inset: var(--size-16);

  display: grid;
  grid-template-columns:
    [full-start]
    calc(50% - (0.5 * var(--story-content-width)))
    [content-start] 1fr [content-end]
    calc(50% - (0.5 * var(--story-content-width)))
    [full-end];
  column-gap: var(--story-content-inset);
  place-items: start;
  place-content: center;
  padding-top: var(--story-content-inset);
  padding-bottom: var(--story-content-inset);

  & > * {
    grid-column: content;
  }

  & > :not(:last-child) {
    margin-bottom: var(--size-4);
  }
}

.c-story__title {
  font-size: var(--scale-1);
  font-size: var(--fluid-md);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);

  &.u-divide-y {
    padding-bottom: var(--size-4);
  }
}

.c-story__tagline {
  margin-bottom: var(--size-2);
  font-size: var(--scale-xs);
  font-weight: var(--font-regular);
  line-height: var(--leading-snug);
  text-transform: uppercase;
  letter-spacing: var(--tracking-wider);
}

.c-story--center {
  place-content: center;
  place-items: center;
  text-align: center;
}
