/* -----------------------------------------------------------------------
 * #COMPONENTS:BILLBOARD
 * ----------------------------------------------------------------------- */

/**
 * Billboard
 *
 * A large advertising structure used to present a figure next to a short
 * description.
 *
 * @example markup
 *   <section class="c-billboard">
 *     <div class="c-story">
 *        <h3 class="c-story__title">
 *          Present professionally - profit safely.
 *        </h3>
 *        <div class="c-story__excerpt">
 *           <p>…</p>
 *        </div>
 *     </div>
 *     <div class="c-poster">
 *       <img src="…" class="c-poster__image">
 *     </div>
 *   </section>
 */

.c-billboard {
  display: flex;

  & > * {
    flex-basis: 50%;
  }
}

/**
 * Vertical Stack
 *
 * Display the content of the billboard above the image on devices with a
 * narrow viewport.
 */

 @media (--sm-down) {
  .c-billboard {
    flex-direction: column;
  }

  .c-billboard--flip\@sm {
    flex-direction: column-reverse;
  }
}

/**
 * Horizontal Stack
 *
 * Display the content of the billboard next to the image on devices with a
 * wider viewport.
 */

@media (--md-up) {
  .c-billboard {
    flex-direction: row;
  }

  .c-billboard--flip\@md {
    flex-direction: row-reverse;
  }
}
