/* -----------------------------------------------------------------------
 * #COMPONENTS:STORY
 * ----------------------------------------------------------------------- */

/**
 * Story
 *
 * A generic piece of content.
 *
 * @example markup
 *   <article class="c-story">
 *     <h3 class="c-story__title">
 *       Present professionally - profit safely.
 *     </h3>
 *     <div class="s-rich-text">
 *       <p>…</p>
 *     </div>
 *   </article>
 */

.c-story {
  --story-content-width: calc(var(--measure-normal) - var(--story-content-inset));
  --story-content-inset: var(--size-16);

  display: grid;
  grid-template-columns:
    [full-start]
    calc(50% - (0.5 * var(--story-content-width)))
    [content-start] 1fr [content-end]
    calc(50% - (0.5 * var(--story-content-width)))
    [full-end];
  column-gap: var(--story-content-inset);
  place-items: start;
  place-content: center;
  padding-top: var(--story-content-inset);
  padding-bottom: var(--story-content-inset);

  & > * {
    position: relative;
    z-index: var(--layer-above);
    grid-column: content;
  }

  & > :not(:last-child) {
    margin-bottom: var(--size-4);
  }
}

.c-story__title {
  font-size: var(--scale-1);
  font-size: var(--fluid-md);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);

  &.u-border-dashed {
    padding-bottom: var(--size-4);
  }
}

.c-story__tagline {
  margin-bottom: var(--size-2);
  font-size: var(--scale-xs);
  font-weight: var(--font-regular);
  line-height: var(--leading-snug);
  text-transform: uppercase;
  letter-spacing: var(--tracking-wider);
}

.c-story--highlight {
  --story-shape-color: var(--color-secondary-400);

  position: relative;
  padding-top: var(--size-32);
  padding-bottom: var(--size-32);
  place-content: center;
  place-items: center;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    z-index: var(--layer-default);
    display: block;
    width: 75%;
    height: 50%;
    border: 0.25rem solid var(--story-shape-color);
    transform: skewX(-25deg);
    pointer-events: none;
  }

  &:nth-child(odd) {
    --story-shape-color: var(--color-primary-400);

    &::after {
      clip-path: polygon(0% 0%, 50% 0%, 20% 100%, 0% 100%);
    }
  }

  &:nth-child(even) {
    --story-shape-color: var(--color-secondary-400);

    &::after {
      clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 20% 100%);
    }
  }
}
