/* -----------------------------------------------------------------------
 * #COMPONENTS:SECTION
 * ----------------------------------------------------------------------- */

/**
 * Section
 *
 * A simple container that can be used to divide your page into visually
 * distinctiv sections.
 *
 * @example markup
 *   <section class="c-section">
 *     <div class="c-section__tagline">
 *       Shoping Solutions
 *     </div>
 *     <h1 class="c-section__title">
 *       Present professionally - profit safely.
 *     </h1>
 *     <div class="s-rich-text">
 *       <p>…</p>
 *       <ul>…</ul>
 *       <p>…</p>
 *     </div>
 *   </section>
 */

.c-section {
  padding-top: var(--size-24);
  padding-bottom: var(--size-24);
  background-color: var(--color-light);
}

.c-section__title,
.c-section__heading {
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);
}

.c-section__title,
.c-section__tagline {
  max-width: 40rem;
  padding-left: var(--size-2);
  padding-right: var(--size-2);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: var(--tracking-wider);
}

.c-section__title {
  font-size: var(--scale-3);
  font-size: var(--fluid-lg);
  font-weight: var(--font-semibold);
  line-height: var(--leading-tight);

  &:not(:last-child) {
    margin-bottom: var(--size-8);
  }
}

.c-section__tagline {
  margin-bottom: var(--size-2);
  font-size: var(--scale-sm);
  font-weight: var(--font-regular);
  line-height: var(--leading-snug);
  text-transform: uppercase;
}

.c-section--flush {
  padding-top: 0;
  padding-bottom: 0;
}

main .c-carouse {
  .c-section {
    padding-bottom: var(--size-24);
  }
}
