/* -----------------------------------------------------------------------
 * #COMPONENTS:BUTTON
 * ----------------------------------------------------------------------- */

/**
 * Button
 *
 * @todo: Add description
 *
 * @example markup
 *   <button type="button" class="c-button c-button--primary">
 *     Load more
 *   </button>
 */

.c-button {
  --button-text-color: var(--color-primary-400);

  display: inline-block;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  padding: var(--size-1) var(--size-4);
  border: 1px solid currentcolor;
  color: var(--button-text-color);
  font-size: var(--scale-xs);
  font-weight: var(--font-regular);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: var(--tracking-wider);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  appearance: none;
}

.c-button--primary {
  --button-text-color: var(--color-primary-400);
}

.c-button--secondary {
  --button-text-color: var(--color-secondary-400);
}

.c-button--light {
  --button-text-color: var(--color-light);
}

.c-button--lg {
  font-size: 0.875em;
}

.c-button--xl {
  font-size: 1em;
}
