/* -----------------------------------------------------------------------
 * #SETTINGS:LAYOUT
 * ----------------------------------------------------------------------- */

/**
 * Global Spacing Units
 *
 * Spacing units help to maintain a consistent vertical rhythm. The suggested
 * spacing units use a geometric progression doubling the value of each step.
 *
 * @see {@link https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62}
 */

:root {
  --size-0: 0;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-4: 1rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-24: 6rem;
  --size-32: 8rem;
  --size-64: 16rem;
}
