<!DOCTYPE html>
<html class="{{ 's-home' if isHomepage else 's-' + layout }} h-entry no-js" lang="{{ lang|default('en') }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {%- block title %}
    <title>
      {{ tagline }} | {{ site.name }}
    </title>
  {%- endblock -%}

  {%- block hints %}
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/outfit-regular.woff2">
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/outfit-semibold.woff2">
    <link rel="preload" as="script" crossorigin="anonymous" href="/assets/scripts/vendor.js">
    <link rel="preload" as="script" crossorigin="anonymous" href="/assets/scripts/main.modern.js">
  {%- endblock -%}

  {%- block styles %}
    <link rel="stylesheet" href="/assets/styles/main.css">
  {%- endblock -%}

  {%- block meta %}
    {% include "meta.njk" %}
  {%- endblock %}
</head>
<body>
  <a href="#main" class="c-button / u-sr-skip">
    {{ "Skip to content"|trans }}
  </a>

  {%- block header %}
    {% include "header.njk" %}
  {%- endblock -%}

  {%- block carousel %}
    {%- if slides|length %}
      <aside class="o-landmark o-landmark--complementary" role="complementary">
        {% include "carousel.njk" %}
      </aside>
    {%- endif %}
  {%- endblock %}

  <main id="main" class="o-landmark o-landmark--main / e-content" role="main">
    {%- block cover %}
      {%- if cover %}
        {% include "cover.njk" %}
      {%- endif %}
    {%- endblock %}

    {%- block main %}
      {{ content|safe }}
    {%- endblock %}

    {%- for template in includes %}
      {% include "section-" + template + ".njk" ignore missing %}
    {%- endfor %}
  </main>

  {%- block footer %}
    {% include "footer.njk" %}
  {%- endblock %}

  {%- block scripts %}
    {# Polyfill for `nomodule` in Safari 10.1 #}
    <script type="module">
      !function(e,t,n){!("noModule"in(t=e.createElement("script")))&&"onbeforeload"in t&&(n=!1,e.addEventListener("beforeload",function(e){if(e.target===t)n=!0;else if(!e.target.hasAttribute("nomodule")||!n)return;e.preventDefault()},!0),t.type="module",t.src=".",e.head.appendChild(t),t.remove())}(document)
    </script>

    {# Modern Browsers: Chrome >=60, Firefox >=54, Edge >=15, Safari >=10.1 #}
    <script type="module" src="/assets/scripts/main.modern.js"></script>

    {# Legacy Browsers: Edge <15, IE 11, Safari <10.1 #}
    <script src="/assets/scripts/main.legacy.js" nomodule defer></script>
  {%- endblock %}
</body>
</html>
