{% extends "./base.njk" %}

{% block main %}
  <div class="c-section c-section--intro">
    {% block tagline %}
      {%- if tagline %}
        <div class="c-section__tagline">
          {{ tagline }}
        </div>
      {%- endif %}
    {% endblock %}

    {% block heading %}
      {%- if cover.title and not slides %}
        <h2 class="c-section__title">
          {{ title }}
        </h2>
      {%- else %}
        <h1 class="c-section__title / p-name">
          {{ title }}
        </h1>
      {%- endif %}
    {% endblock %}

    {% block content %}
        <div class="s-rich-text / o-container o-container--prose">
          {{ content|safe }}
        </div>
    {% endblock %}
  </div>

  {% if teasers|length %}
    {% for item in teasers %}
      {% include "billboard.njk" %}
    {% endfor %}
  {% endif %}

  {% if postcontent|length %}
    {% for item in postcontent %}
      {% include "postcontent.njk" %}
    {% endfor %}
  {% endif %}

  {% if slideshow|length %}
    {% include "slideshow.njk" %}
  {% endif %}

  {% if highlights|length %}
    {% for item in highlights %}
      {% include "billboard.njk" %}
    {% endfor %}
  {% endif %}
{% endblock %}
