{% extends "./base.njk" %}

{% block main %}
  <div class="c-section c-section--intro{{ ' / u-bg-merino' if isHomepage }}">
    {% block tagline %}
      {%- if tagline %}
        <div class="c-section__tagline">
          {{ tagline }}
        </div>
      {%- endif %}
    {% endblock %}

    {% block heading %}
      {%- if cover.title and not slides %}
        <h2 class="c-section__title">
          {{ title }}
        </h2>
      {%- else %}
        <h1 class="c-section__title / p-name">
          {{ title }}
        </h1>
      {%- endif %}
    {% endblock %}

    {% block content %}
      <div class="s-rich-text / o-container o-container--prose">
        {{ content|safe }}
      </div>
    {% endblock %}
  </div>

  {% for item in highlights %}
    {% include "billboard.njk" %}
  {% endfor %}
{% endblock %}
