{% extends "./base.njk" %}

{% block content %}
  {%- if cover and not slides %}
    {% include "cover.njk" %}
  {%- endif %}

  <div class="c-section c-section--intro / {{ 'u-bg-merino' if isHomepage else 'u-bg-white' }}">
    {%- if tagline %}
      <div class="c-section__tagline">
        {{ tagline }}
      </div>
    {%- endif %}

    {%- if cover.title and not slides %}
      <h2 class="c-section__title">
        {{ title }}
      </h2>
    {%- else %}
      <h1 class="c-section__title / p-name">
        {{ title }}
      </h1>
    {%- endif %}

    <div class="s-rich-text / o-container o-container--prose">
      {{ content | safe }}
    </div>
  </div>

  {% for item in highlights %}
    {% include "billboard.njk" %}
  {% endfor %}
{% endblock %}
